src/main/app/esearch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:amqps="http://www.mulesoft.org/schema/mule/amqps" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/amqps http://www.mulesoft.org/schema/mule/amqps/current/mule-amqps.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <sub-flow name="template_esearch_publish_log_message">
        <set-payload value="#['']" doc:name="Set Payload - make empty"/>
        <set-variable variableName="index" value="FILL_IN_YOUR_INDEX" doc:name="Variable - index !!!"/>
        <set-variable variableName="timestamp" value="#[(server.dateTime).toString()]" doc:name="Variable - timestamp"/>
        <dw:transform-message doc:name="flowVars to json" metadata:id="c4eeb939-e4db-4773-a666-d3f2a6bf934e">
            <dw:input-payload/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
flowVars - "rootMessage" - "jobData" - "jobConfig" - "amqp.channel" mapObject {
  '$$': $
  }

]]></dw:set-payload>
        </dw:transform-message>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="Sending Log Message to Queue #[payload]" level="INFO" doc:name="Sending Log message to Queue"/>
        <amqp:outbound-endpoint queueName="${rabbit.queue.esearch_log}" queueDurable="true" responseTimeout="10000" connector-ref="OutboundAMQPConnector" doc:name="AMQP - Publish Log Entry"/>
    </sub-flow>
    <flow name="esearch_receive_log_message" >
            <amqp:inbound-endpoint
        	queueName="${rabbit.queue.esearch_log}"
        	queueDurable="true"
        	responseTimeout="10000"
        	connector-ref="InboundAMQPConnector"
        	doc:name="AMQP - Receive Log Message from Queue" numberOfChannels="1" mimeType="application/json"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <set-variable variableName="log_message_json" value="#[payload]" doc:name="Variable - log_message_json"/>
        <json:json-to-object-transformer returnClass="java.util.LinkedHashMap" doc:name="JSON to Object - java.util.LinkedHashMap"/>
        <set-variable variableName="index" value="#[payload.index]" doc:name="Variable - index"/>
        <validation:is-not-empty message="No value of &quot;index&quot; found" value="#[flowVars.index]" doc:name="Validation - index"/>
        <logger message="Received Log Message from Queue #[flowVars.log_message_json]" level="INFO" doc:name="Received Log Message from Queue"/>
        <set-payload value="#[flowVars.log_message_json]" doc:name="Set Payload - log_message_json" encoding="UTF-8" mimeType="application/json"/>
        <until-successful maxRetries="5" synchronous="true" doc:name="Until Successful" millisBetweenRetries="10000">
            <http:request config-ref="Elastic_Search" path="#[flowVars.index]/events" method="POST" doc:name="POST event to ES"/>
        </until-successful>
        <amqps:acknowledge-message doc:name="AMQPS - Acknowledge Message"/>
    </flow>
</mule>
